/* ==========================================================================
   ГЛОБАЛЬНЫЙ ИНТЕРФЕЙС (КНОПКИ, ПОЛЯ ВВОДА)
   ========================================================================== */
/* Кнопки */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: 0.3s;
    text-align: center;
}

.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.btn--primary:hover {
    background-color: var(--primary-dark);
    color: #fff;
}

.btn--outline {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn--outline:hover {
    background: #fff;
    color: var(--dark-color);
}

.btn--secondary {
    background: transparent;
    border: 2px solid #ccc;
    color: #555;
    border-radius: 8px;
}

.btn--secondary:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn--white {
    background: #fff;
    color: #333;
}

.btn--white:hover {
    background: #f0f0f0;
}

.btn-load-dark {
    display: inline-block;
    margin-top: 40px;
    padding: 14px 40px;
    color: #fff;
    background: #333;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-load-dark:hover {
    background: var(--primary-color);
    transform: translateY(-3px);
}

/* Поля ввода */
.input-field {
    width: 100%;
    padding: 14px 18px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 15px;
}

.input-field:hover,
.input-field:focus {
    border-color: var(--primary-color);
}
/* --- БЕЛАЯ КНОПКА С СИНЕЙ РАМКОЙ (ДЛЯ КАРТОЧЕК) --- */
.btn--outline-primary {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.btn--outline-primary:hover {
    background: var(--primary-color);
    color: #fff;
}