/* ==========================================================================
   ГЛАВНЫЙ ФАЙЛ СТИЛЕЙ (ТОЛЬКО ИМПОРТЫ)
   ========================================================================== */

/* 1. Базовые настройки */
@use 'variables';
@use 'fonts';
@use 'colors';
@use 'base';
@use 'ui';

/* 2. Глобальные блоки */
@use 'header';
@use 'footer';
@use 'functional';

/* 3. Страницы и компоненты */
@use 'home';
@use 'catalog';
@use 'company';
@use 'news';
@use 'contacts';
@use 'pages';
